.Apph {
    background-color: azure;
    padding: 28px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   }
   
   .ap{
   margin: 2px auto;
   
   }
   
   
   